<!--EScrambled Email Address Code-->

<!--For help with this code go to-->
<!--http://innerpeace.org/escrambler.shtml-->

<script>

<!--

function escramble(){
 var a,b,c,d,e,f,g,h,i
 a='<a href=\"mai'
 b='beastie'
 c='\" '
 a+='lto:'
 b+='@'
 e='</a>'
 c+='title=\"Email Me\">'
 f='email me'
 b+='tardisi.com'
 g='<img src=\"'
 h=''
 i='\" alt="email me" border="0" rel="nofollow">'

 if (f) d=f
 else if (h) d=g+h+i
 else d=b

 document.write(a+b+c+d+e)
}

escramble()

//-->

</script>

<!--End EScrambled Email Address Code-->

