<script type="text/javascript">
function addEvent(evType, f) {
  if (window.addEventListener){
    window.addEventListener(evType, f, false);
    return true;
  } else if (window.attachEvent){
    var r = window.attachEvent("on"+evType, f);
    return r;
  } else {
    return false;
  }
}
addEvent('load', function() {
  var pElements = document.getElementsByClassName('body');

  var pElement = pElements.item(0);
  var pHText = pElement.innerHTML;
  var myRegExpO = /PR: ([^\/]+)\/(\d+)/;
  var myMatchO = myRegExpO.exec(pHText);

  var myRegExpN = /PR: (\d+)/;
  var myMatchN = myRegExpN.exec(pHText);

  if (myMatchO) {
    var myReplaceO = "PR: <a href=\"https://bugs.FreeBSD.org/bugzilla/show_bug.cgi?id=" + myMatchO[2] + "\" target=\"_blank\">" + myMatchO[1] + "/" + myMatchO[2] + "</a>";

    var pReplacedO = pHText.replace(myRegExpO, myReplaceO);
    pElement.innerHTML = pReplacedO;
  }
  if (myMatchN) {
    var myReplaceN = "PR: <a href=\"https://bugs.FreeBSD.org/bugzilla/show_bug.cgi?id=" + myMatchN[1] + "\" target=\"_blank\">" + myMatchN[1] + "</a>";

    var myReplacedN = pHText.replace(myRegExpN, myReplaceN);
    pElement.innerHTML = pReplacedN;
  }
});
</script>
