<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}{% if page.title %}&mdash; {{ page.title }}{% endif %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% if page.title != "Archive (sidebar)" %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endif %}
    <link href='http://fonts.googleapis.com/css?family=Poly:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen, projection" href="/res/screen.css" type="text/css" title="light">
    <link rel="alternate stylesheet" media="screen, projection" href="/res/screen-dark.css" type="text/css" title="dark">
    <link rel="stylesheet" media="print" href="/res/print.css" type="text/css">
    <link rel="stylesheet" href="/res/solarized-light.css" type="text/css" title="light">
    <link rel="alternate stylesheet" href="/res/solarized-dark.css" type="text/css" title="dark">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@LawrenceChen">
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
      {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      <meta name="og:description" content="{{ page.description }}">
      {% else if content %}
      <meta name="description" content="{{ content | strip_html | truncatewords: 25 }}">
      <meta name="og:description" content="{{ content | strip_html | truncatewords: 25 }}">
      {% endif %}
    {% else %}
      <meta name="description" content="Ramblings from Lawrence 'The Dreamer' Chen as he fiddles around on FreeBSD">
    {% endif %}
    {% if page.photo_url %}
    <meta property="og:image" content="{{ page.photo_url }}">
    {% endif %}
    <meta property="og:url" content="http://beastie.tardisi.com{{ page.url | remove_first:'index.html' }}">
    <meta property="og:site_name" content="beastie.tardisi.com">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="en_US" />
    {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}">
    {% endif %}
    {% include toggle-solarized-min.html %}
    {% if page.title != "Archive (sidebar)" %}
    {% include sidebar_ui_controller.html %}
    {% endif %}
    {% if page.include_move %}
    <script async src="http://movelang.org/move.js"></script>
    {% endif %}
  </head>
  <body{% if page.wide_layout %} class="wide"{% endif %} onload="set_style_from_cookie()">
    <iframe id="sidebar"></iframe>
    <header>
    <h1 class="logo" onclick="document.location.href='/';"><a href="/"><img src="/res/cu-lkc2.jpg" width="80" height="80" alt="The Dreamer"></a><span>{{ site.name }}</span></h1>
      {% include navigation.html %}
    </header>
    <!--div class="wrapper content"-->
      {{ content }}
    <!--/div-->
    
    {% if paginator.total_pages > 1 %}
    <div id="paginator" class="content">
      {% if paginator.next_page %}
      <a id="older" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older entries</a>
      {% endif %}
      {% if paginator.previous_page %}
      <a id="newer" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer entries</a>
      {% endif %}
    </div>
    {% endif %}
    
    {% unless page.no_footer %}
    <footer>
      <p>
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" class="cc">
        <img alt="Creative Commons License" style="border-width:0" src="/res/cc-by.png" class="cc" />
      </a>
      <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{ site.name }}</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://beastie.tardisi.com" property="cc:attributionName" rel="cc:attributionURL">{{ site.owner.name }}</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.  Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/TheDreamer/beastie-work" rel="dct:source">https://github.com/TheDreamer/beastie-work</a>.
      </p>
      <p><a href="https://github.com/TheDreamer/TheDreamer.github.io" target="_blank" title="TheDreamer.github.io" rel="nofollow">Site Source</a></p>
    </footer>
    {% endunless %}
    
    {% unless page.not_pretty %}
    {% include prettify.html %}
    {% endunless %}
    {% include analytics.html %}
  </body>
</html>
